<html>
    <head>
<link rel="stylesheet" href="contact.css">
    </head>
<body>
<nav>
    <a href="/">Back home</a>
</nav>
<h1 align="center">contact chedi linkers for any enquiry</h1>
<H2 align = "center"><I>Welcome</I></H2><HR color = "magenta" size = "5">
    <form action="/contact" method="POST">
    <div class="contact">
    <div class="con">
<label for="name">Name</label>
<input type="text" name="names" id="juma" autocomplete="on" required="true" autofocus="on" placeholder="names">
<br>
    </div>
<div class="con">
<label for="na">Email address</label>
<input type="text" name="emails" id="wafula" autocomplete="on" required="true" autocomplete="on" placeholder="Email address">
<br>
<br>
</div>

    <textarea placeholder="type your message here" rows="15" cols="50" name="text"></textarea>
    <br>
<input type="submit" value="send">
</div>
</div>
</fieldset>
</form>
</body>
</html>
