<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEDI jobs</title>
    <link rel="stylesheet" href="jobs.css">
</head>
<body>
    <nav>
        <a href="/" >Back Home</a>
<a href="/about" >Go to about</a>
<a href="/contact">contact us</a>
    </nav>

<div class="jobs-list-container">
    <Marquee behavior="alternate">Below are the jobs avialble..Apply your Category!!</Marquee>
    <h2>25 jobs</h2>
    <input type="text" class="job-search" placeholder="Search here a job...........">
    <div class="jobs">
            </div>
</div>
   <script src="jobs.js"></script>
</body>
</html>
